/* grapla SCSS variables */

// spacing
$grapla-spacing:                20px;

// colors
$grapla-relationship-color:     hsl(193, 100%, 50%);
$grapla-highlight-box-color:    hsl(193, 100%, 88%);
$grapla-highlight-text-color:   hsl(187, 99%, 27%);
